.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
}

.diurno {
  background-image: url("./img/Ghibli.png");
  background-color: rgb(140, 213, 238);
}

.nocturno {
  background-image: url("./img/GhibliNocturno3.png");
  background-color: rgb(0, 0, 0);
}

.App-header {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.contenedorPrincipal {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Para que ambas columnas tengan la misma altura */
  
}

.contenedorCargando {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

.cargando {
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para la columna de la App de Clima */
.appClima {
  flex: 1; /* Ocupa el espacio disponible en la mitad izquierda */
  padding: 20px; /* Añade un poco de espacio entre el contenido y los bordes */
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.izquierdaYDerecha {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.izquierda {
  display: flex;
  margin-right: 50px;
  flex-direction: column;
  width: 250px;
  height: 417px;
}

.arriba {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  padding-bottom: 3px; /* Añade espacio alrededor de los elementos */
}

.lugarYPais {
  padding-left: 23px;
  margin: 5px;
}

.lugarYPais.LugarDiurno {
  color:#fff;
}

.lugarYPais.lugarNocturno {
  color: grey;
}

.termometro {
  border: 6px solid rgb(245, 182, 35);
  border-radius: 150px;
  width: 200px;
  height: 200px;
}

/* Estilos generales para el termómetro */
.termometro {
  position: relative;
}

/* Estilos específicos para el termómetro en modo diurno */
.termometro.termometroDiurno {
  opacity: 1; /* Opacidad completa para el modo diurno */
}

/* Estilos específicos para el termómetro en modo nocturno */
.termometro.termometroNocturno {
  opacity: 0.8; /* Ajusta la opacidad según sea necesario para el modo nocturno */
}

/* Otros estilos específicos para los elementos del termómetro en modo nocturno */
.termometro.termometroNocturno .circle-temperatura {
  fill: rgba(255, 165, 0, 0.8); /* Ejemplo: color naranja con opacidad para el modo nocturno */
}

.termometro.termometroNocturno .text-temperatura {
  fill: rgba(255, 255, 255, 0.8); /* Ejemplo: color blanco con opacidad para el modo nocturno */
}

.termometro.termometroNocturno .line-indicadora {
  stroke: rgba(255, 0, 0, 0.8); /* Ejemplo: color rojo con opacidad para el modo nocturno */
}

/* Otros estilos específicos para los ticks en modo nocturno */
.termometro.termometroNocturno line.tick {
  stroke: rgba(255, 255, 255, 0.8); /* Ejemplo: color blanco con opacidad para el modo nocturno */
}

.sticker {
  width: 60px;
}

.díaYHorarioTexto {
  margin: 10px;
  margin-top: 5px;
  font-size: 20px;
}

.díaYHorarioTexto.horarioDiurno {
  color:#fff;
}

.díaYHorarioTexto.horarioNocturno {
  color: grey;
}

.temperaturas {
  border-radius: 15px;
  display:flex;
  flex-direction: row;
  color: grey;
  width: 243px; /* Establece el ancho deseado */
  max-width: 100%; /* Limita el ancho máximo */
}

.temperaturas.temperaturaDiurna {
  background-color: rgb(255, 221, 141);
}

.temperaturas.temperaturaNocturna {
  background-color: rgba(255, 221, 141, 0.881);
}

.primerCuadro {
  display:flex;
  flex-direction: column;
  border-right: 2px solid white;
  margin-left: 5px;
  margin-top: 5px;
}

.segundoCuadro {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.primeraLinea {
  text-align: center;
}

.segundaLinea {
  display:flex;
  flex-direction: row;
}

.dia {
  width: 50px;
}

.noche {
  width: 50px;
}

.derecha {
  margin-left: 5px;
  margin: 0px;
  position: relative;
  flex-direction: column;
  display: flex;
}

.tituloAspectosDestacados {
  margin: 0px;
}

.tituloAspectosDestacados.destacadoDiurno {
  color:#fff;
}

.tituloAspectosDestacados.destacadoNocturno {
  color: grey;
}

.cuadroBloques {
  display: flex;
  flex-direction: row;
}

.primeraFila {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacio entre los bloques y los bordes */
}

.segundaFila {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacio entre los bloques y los bordes */
}

.bloques {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  color: rgb(0, 136, 255);
  width: 144px;
  height: 112px;
}

.bloques.bloqueDiurno {
  background-color: #fff;
  border: 4px solid rgb(255, 221, 141);
}

.bloques.bloqueNocturno {
  background-color: #ffffffb7;
  border: 4px solid rgba(255, 221, 141, 0.659);
}

.titulosBloques {
  color: grey;
  margin: 5px;
  font-size: 15px;
}

p {
  margin: 5px;
}

.columnasSol {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flechaSalidaSol {
  width: 30px;
  height: 25px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: rgb(218, 218, 218);
  padding: 2px;
}

.flechaPuestaSol {
  width: 30px;
  height: 25px;
  margin-right: 10px;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: rgb(218, 218, 218);
  padding: 2px;
}

.hoy {
  margin: 5px;
  margin-top: -5px;
}

.hoy.hoyDiurno {
  color:#fff;
}

.hoy.hoyNocturno {
  color: grey;
}

.cuadroTemperatura {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 220px;
  margin-right: 145px;
}

/* Estilos para la columna de la App de Transporte */
.appTransporte {
  flex: 1; /* Ocupa el espacio disponible en la mitad derecha */
  padding: 20px; /* Añade un poco de espacio entre el contenido y los bordes */
  display: flex;
  padding-left: 10px;
}

.labelSeleccion {
  font-size: 1.17em;
  font-weight: bold;
  color: #fff;
}

.mapa{
  border: 6px solid rgb(140, 213, 238);
}

.popupBondi {
  border: 6px solid rgb(245, 182, 35);
  border-radius: 20px;
}

.leaflet-container {
  width: 100%; 
  height: 100%;
}

