.App-header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.izquierda {
  margin-right: 50px;;
  flex-direction: column;
  border: 6px solid red;
}

.termometro {
  border: 6px solid yellow;
  width: 200px;
  height: 200px;
}

.temperaturas {
  display:flex;
  flex-direction: row;
}

.derecha {
  margin-left: 50px;
  position: right;
  flex-direction: column;
  border:  6px solid green;
  display: inline;
}

.cuadroBloques {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacio entre los bloques y los bordes */
}

.primeraFila {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Espacio entre los bloques y los bordes */
}

.segundaFila {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Espacio entre los bloques y los bordes */
}

.bloques {
  border: 6px solid blue;
  flex-basis: calc(33.33% - 10px); /* Controla el ancho de cada bloque */
  margin: 10px;
  text-align: center;
}

/* Para mantener tres bloques por fila en dos filas */
@media screen and (max-width: 768px) {
  .cuadroBloques {
    flex-direction: column; /* Cambiar a una sola columna */
  }

  .bloques {
    width: 100%; /* Ancho completo en una sola columna */
  }
}
